
md-card {
  text-align: center;
  margin: 2em auto;
  max-width: 700px
}

.full-width {
  width: 100%
}

.datepicker-max-width {
  max-width: 400px;
}

.option-max-width {
  max-width: 400px;
}

.input-text {
  text-align: center;
  font-size: 18px
}

.teste {
  width: 600px
}
