
<div class="conteudo">
    <div *ngIf="loading">
      <md-progress-spinner mode="indeterminate" color="primary" ></md-progress-spinner>
    </div>
    <md-card>
        <md-card-content>
          <md-input-container class="full-width datepicker-max-width">
            <input
              class="input-text-date"
              [min]="minDate"
              [max]="maxDate"
              a-ng
              [(ngModel)]="dtAgendamento"
              mdInput [mdDatepicker]="picker"
              placeholder="Data de agendamento" readonly>
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
          </md-input-container>
          <md-datepicker (selectedChanged)="changeDate(picker)" touchUi="true" #picker></md-datepicker>

          <md-select placeholder="Escolha um servico" class="full-width option-max-width input-text">
              <md-option *ngFor="let servico of servicos" [value]="servico" class="full-width input-text">
                {{ servico.descricao }}
              </md-option>
          </md-select>

          <md-select placeholder="Escolha um horário" class="full-width option-max-width input-text">
              <md-option *ngFor="let horario of horarios" [value]="horario" class="full-width input-text">
                {{ horario.horario }}
              </md-option>
          </md-select>
        </md-card-content>

        <button md-raised-button (click)="onClick()">Action</button>

    </md-card>

</div>





