
<div class="conteudo">
    <div  class="loading">
      <md-progress-bar *ngIf="loading" mode="indeterminate" color="primary" ></md-progress-bar>
    </div>
    <md-card>
        <md-card-content>

         <form (ngSubmit)="onSubmit()">

              <md-input-container class="full-width datepicker-max-width">
                <input
                  name="dt_agendamento"
                  class="input-text-date"
                  [min]="minDate"
                  [max]="maxDate"
                  [(ngModel)]="dtAgendamento"
                  mdInput [mdDatepicker]="picker"
                  placeholder="Data de agendamento" readonly>
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
              </md-input-container>
              <md-datepicker (selectedChanged)="changeDate(picker)" touchUi="true" #picker></md-datepicker>

              <div>

                <md-select
                  name="servico"
                  placeholder="Escolha um servico"
                  [(ngModel)]="servico"
                  class="full-width option-max-width input-text"
                  required>
                    <md-option *ngFor="let servico of servicos" [value]="servico" class="full-width input-text">
                      {{ servico.descricao }}
                    </md-option>
                </md-select>

                <md-select
                  name="horario"
                  placeholder="Escolha um horário"
                  [(ngModel)]="horario"
                  class="full-width option-max-width input-text"
                  required>
                    <md-option *ngFor="let horario of horarios" [value]="horario" class="full-width input-text">
                      {{ horario.horario }}
                    </md-option>
                </md-select>
              </div>

            <button md-raised-button color="primary" [disabled]="!hora && !servico">Agendar</button>
          </form>
        </md-card-content>

    </md-card>

</div>





