
md-card {
  text-align: center;
  margin: auto;
  max-width: 700px
}

.loading {
  max-width: 700px;
  margin: auto;
}

.full-width {
  width: 100%
}

.datepicker-max-width {
  max-width: 400px;
}

.option-max-width {
  max-width: 400px;
}

.input-text {
  text-align: center;
  font-size: 18px;
  padding-bottom: 18px;
}

.input-text-date {
  text-align: center;
  font-size: 18px;
}

.teste {
  width: 600px
}
